<nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      Reservation System
    </a>

    <div class="navbar-nav">
      <a
        class="nav-link"
        routerLink="/dashboard"
        routerLinkActive="active"
      >
        Dashboard
      </a>

      <a
        class="nav-link"
        routerLink="/reservations/new"
        routerLinkActive="active"
      >
        New Reservation
      </a>
    </div>
  </div>
</nav>